.CardHeader {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardHeader-toptitle {
  font-size: 12px;
  color: #999;
}

.CardHeader-title {
  font-size: 16px;
  font-weight: bold;
}